<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>

    </header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat eveniet corrupti vero? Quae minus inventore minima pariatur, nam libero asperiores ea deserunt, eos vel tempora itaque iusto ut officiis corrupti!</p>

    <a id="click" href="/">volver</a>

    <script>
        let link = document.getElementById("click")
        link.addEventListener("click",alert("esto es JS en Python"))
    </script>
</body>
</html>