{% include 'defaults/head.html' %}

<body>
    
    {% include 'defaults/header.html' %}

    <section class="container">
        
        <h1 class="mb-5">{{title}}</h1>
        <a href="/tienda" class="btn btn-link"><i class="bi bi-chevron-double-left"></i> volver</a>
        
        <div class="form">
            <form id="form-new-product" action="/tienda/guardar_nuevo_producto" method="POST" class="w-75">
                <div class="mb-3">
                    <label for="input1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="input1" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="textarea1" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="textarea1" name="descripcion" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="input3" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="input3" name="precio" required>
                </div>
            </form>
            <div>
                <button form="form-new-product" type="submit" class="btn btn-dark" >
                    <i class="bi bi-send"></i> Guardar Producto
                </button>
            </div>
        </div>
        
        
    </section>
    {% include 'defaults/footer.html' %}


</body>
</html>