
<!-- includes Flask -->
{% include 'defaults/head.html' %}

<body>
    
    <!-- comentario de HTML 
    {#
    {% ... %} for Statements
    {{ ... }} for Expressions to print to the template output
    {# ... #} for Comments not included in the template output
    #}
    -->
    
    {% include 'defaults/header.html' %}

    <section class="container">

        <div>
            
        </div>

        <div class="users">
            <div class="title">
                <h1>{{title}}</h1>
            </div>
            {% for i in users %}
            <a href="/persona/{{i.id}}">
                <div class="card p-2 mb-2">
                    <div class="card-title">
                        {{i.nombre}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>    
        </section>
    
    
        {% include 'defaults/footer.html' %}
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>