<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>

<!-- comentario de HTML 
    {#
    {% ... %} for Statements
    {{ ... }} for Expressions to print to the template output
    {# ... #} for Comments not included in the template output
    #}
-->
    <header>
        <div class="logo">
            <h1>{{ titulo }}</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tienda">Tienda</a>
                </li>
                <li>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="datausers">
        {% for i in users %}
            <div class="user">
                <div class="nombre">
                    {{i.nombre}}
                </div>
                <a href="mailto:{{i.email}}">{{i.email}}</a>
                <br>
                <a href="https://linkedin.com/{{i.linkedin}}">
                    Linkedin
                </a>
                            
            </div>
        {% endfor %}
        </section>
    
    <div>esto es el footer</div>
</body>
</html>