{% include 'defaults/head.html' %}

<body>
    
    {% include 'defaults/header.html' %}
    
    <section class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">{{user.nombre}}</a></li>
            </ol>
        </nav>

        <div class="bg-white text-dark p-4 rounded">
            <h2>
                {{user.nombre}}
            </h2>
            <h3>
                {{user.puesto}}
            </h3>
            <p>
                <a href="http://linkedin.com/{{user.linkedin}}">Linkedin</a>
                -
                <a href="mailto:{{user.email}}">{{user.email}}</a>
            </p>
        </div>

        <a href="/" class="btn btn-dark"><i class="bi bi-chevron-double-left"></i> volver</a>
    </section>

    
    {% include 'defaults/footer.html' %}

</body>
</html>