{% include 'defaults/head.html' %}

<body>
    
    {% include 'defaults/header.html' %}

    <section class="container">
        
        <h1 class="mb-5">{{title}}</h1>
    
        <a href="tienda/cargar_producto" class="btn btn-warning">Nuevo Producto</a>

        <div class="h4 text-white">
            <div class="row">
                {% for i in productos%}
                <div class="col">
                    <div class="data d-flex jusitfy-content-between">
                        <div class="nombre w-75">
                            {{i[1]}}
                        </div>
                        <div class="precio w-25 text-center">
                            $ {{i[3]}}
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <a href="/tienda/editar_producto/{{i[0]}}" class="btn btn-white"><i class="bi bi-pencil-fill"></i></a>
                    <a href="/tienda/borrar_producto/{{i[0]}}" class="btn btn-white"><i class="bi bi-trash-fill"></i></a>
                </div>                
                <hr>
                {% endfor %}
            </div>
        </div>
        
    </section>
    {% include 'defaults/footer.html' %}


</body>
</html>